<div class="select-doctor-component">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <p>{{data.textBody}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">לא</button>
    <button mat-button (click)="onYesClick()" cdkFocusInitial>כן</button>
  </div>
</div>