
.modal-dialog {
     width:1390px;
    }
    .fade {
        opacity: 1 !important;
        transition: opacity .15s linear;
    }

div.select-doctor-component{
    text-align: right;
}

div.select-doctor-component div.mat-dialog-actions{
    float: right;
}