<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-70">
						Welcome
          </span>
          <div style="width: 100%; text-align: center;">
              <span class="login100-form-avatar">
                  <img style="width:140px;" src="../../assets/images/avatar.png" alt="AVATAR">
                </span>
          </div>
					

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
						<input class="input100" type="text"  autocomplete="new-password" name="username" [(ngModel)]="authenticationModel.User">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" autocomplete="new-password" name="pass" [(ngModel)]="authenticationModel.Password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="login()">
							Login
						</button>
					</div>

					<!-- <ul class="login-more">
						<li class="m-b-8">
							<span class="txt1">
								Forgot
							</span>

							<a href="#" class="txt2">
								Username / Password?
							</a>
						</li>

					</ul> -->
				</form>
			</div>
		</div>
	</div>
	