<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> <b>שם היומן:</b> {{doctorCalendar.calendarData.Description }}
        <i class="fa fa-clock-o fa-fw"></i> <b>סניף:</b> {{doctorCalendar.calendarData.BranchName }}
    </div>
      
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-3 list-group-item working-hours" *ngFor="let wa of calanderModel.workingHours">
                    <h6>
                         {{wa.end}} - {{wa.start}}
                    </h6>

                    <div class="row">

                        <div class="col-md-12">
                            <div *ngFor="let slot of wa.slots; let i = index" matTooltip="{{slot.memberName}}"
                                    [matTooltipPosition]="position.value" 
                                    [matTooltipDisabled]="slot.openSlot"
                                    [ngClass]="{ 'bgGreen':slot.openSlot, 'bgRed':!slot.openSlot }"
                                    class="hight25 list-group-item working-hours-slot" (click)="OnRequestSlotAppointment(wa, slot)">
                                    
                                <span>{{slot.slotTimes}}</span>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>