.hight25{
    /* height: 25px; */
}

.bgRed{
    background-color: red;
    /* cursor: not-allowed; */
}

.bgGreen{
    background-color: green;
    cursor: pointer;
}

.bgYellow{
    background-color: yellow;
}

.border1px{
    border: 1px solid black;
}

.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-size: 16px;
}

.slots-float{
    float: left;
}

.slots-length-1{
    width: 100%;
    
}

.slots-length-2{
    width: 50%;
}

.slots-length-3{
    width: 33.333%;
}

.slots-length-4{
    width: 25%;
}

.slots-length-5{
    width: 20%;
}

.slots-length-6{
    width: 16.666%;
}

.slots-length-7{
    width: 14.285%;
}

.slots-length-8{
    width: 12.5%;
}
.slots-length-9{
    width: 11.111%;
}

.slots-length-10{
    width: 10%;
}

.slots-length-11{
    width: 9.0909%;
}

.slots-length-12{
    width: 8.333%;
}

.slots-length-13{
    width: 7.692%;
}

.slots-length-14{
    width: 7.142%;
}

.slots-length-15{
    width: 6.666%;
}

.slots-length-16{
    width: 6.25%;
}

.slots-length-17{
    width: 5.882%;
}

.slots-length-18{
    width: 5.555%;
}

.slots-length-19{
    width: 5.263%;
}

.slots-length-20{
    width: 5%;
}
.working-hours .row .col-md-12{
    float: right;
    display: flex;
    text-align: center;
    height: 25px;
}
.working-hours .row .col-md-12 .working-hours-slot{
    float: right;
    flex: 1;
    padding: 0;
}
.working-hours .row .col-md-12 .working-hours-slot.list-group-item:last-child{
    margin-bottom: -1px;
}
/*bgGreen bgRed*/
.working-hours .row .col-md-12 .working-hours-slot span{
    line-height: 25px;
    color: #fff;
}
