/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#page-wrapper {
    position: inherit;
    margin: 0px !important;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
}

.modal-dialog {
    width: 600px;
    margin: 103px auto !important;
}

body{
    direction: rtl;
}