.width25{
width: 25%;
}

.width20{
    width: 20%;
    }

.hight25{
    height: 25px;
}

.bgRed{
    background-color: red;
}

.bgGreen{
    background-color: green;
}

.bgYellow{
    background-color: yellow;
}

.border1px{
    border: 1px solid black;
}

.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-size: 16px;
}

ul.calendars-list{
    list-style: none;
    margin: 0;
    padding: 0px 13px;
}

.spacer{
    padding-left: 5px;
}

.mat-form-field{
    text-align: right !important;
}
/* 
#page-wrapper{
    text-align: right ;
} */