<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            בחר תאריך
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                
                  <div class="form-inline">
                      <div class="form-group" *ngIf="memberInfo">
                        <div class="form-group spacer">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="שם החבר" name="memberName" [(ngModel)]="memberInfo.Name">
                          </mat-form-field>
                        </div>

                        <div class="form-group spacer">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="טלפון" name="memberPhone" [(ngModel)]="memberInfo.Phone">
                            </mat-form-field>
                          </div>

                          <div class="form-group spacer">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="דואל" name="memberEmail" [(ngModel)]="memberInfo.Email">
                              </mat-form-field>
                            </div>
                      </div>
                  </div>
                
              </div>
              <div class="col-md-8">
                <!-- <div class="container"> -->
                  <div class="form-inline">
                    <form (ngSubmit)="onSubmit(calnderFilterForm)" #calnderFilterForm="ngForm">
                      <div class="form-group">
                        <div class="form-group spacer">
                          <mat-form-field class="example-full-width">
                            <mat-select placeholder="סניפים" name="branchIntake" (selectionChange)="calanderFilterChange(calnderFilterForm)"
                              disableRipple [(ngModel)]="branch">
                              <mat-option [value]="0">הכל</mat-option>
                              <mat-option *ngFor="let branch of branchs" [value]="branch.SysId">
                                {{branch.Description}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="form-group spacer">
                          <mat-form-field class="example-full-width">
                            <mat-select placeholder="יומנים" name="calendarIntake" (selectionChange)="calanderFilterChange(calnderFilterForm)"
                              disableRipple [(ngModel)]="calendar" [disabled]="disableCalendarsSelect">
                              <mat-option [value]="0">הכל</mat-option>
                              <mat-option *ngFor="let calendar of calendars" [value]="calendar.SysId">
                                {{calendar.Description}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="form-group spacer">
                          <mat-form-field class="example-full-width">
                            <mat-select placeholder="משעה" name="startHourIntake" (selectionChange)="calanderFilterChange(calnderFilterForm)"
                              disableRipple [(ngModel)]="startHour" [errorStateMatcher]="matcher">
                              <mat-option *ngFor="let hour of displayHours" [value]="hour.value">
                                {{hour.viewValue}}
                              </mat-option>
                            </mat-select>

                            <mat-error>שגיאת שעות</mat-error>

                          </mat-form-field>

                        </div>

                        <div class="form-group spacer">
                          <mat-form-field class="example-full-width">
                            <mat-select placeholder="עד שעה" name="endHourIntake" (selectionChange)="calanderFilterChange(calnderFilterForm)"
                              disableRipple [(ngModel)]="endHour" [errorStateMatcher]="matcher">
                              <mat-option *ngFor="let hour of displayHours" [value]="hour.value">
                                {{hour.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                      </div>

                      <div class="form-group spacer">
                        <button mat-flat-button (click)="resetHours()" [disabled]="disableSelect">אפס סינון</button>
                      </div>

                    </form>
                  </div>
                <!-- </div> -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <!-- <div class="container"> -->
                  <div class="form-inline">
                    <div class="form-group">

                      <mat-form-field class="example-full-width">
                        <input matInput [matDatepickerFilter]="FilterOpenCalanderDays" [matDatepicker]="picker"
                          placeholder="בחר תאריך" disabled (dateChange)="matInputChange($event)" [(ngModel)]="selectedDate"
                          name="calanderDaysIntake">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [startAt]="startDate" disabled="false"></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <ul class="calendars-list">
        <li *ngFor="let sdc of doctorsCalendars | descriptionFilter: descriptionFilter | brnachFilter: branchFilter">
          <working-hours [doctorCalendar]="sdc" [selectedDate]="selectedDate._d" (RequestSlotAppointmentEvent)="OnRequestSlotAppointmentEvent($event)"></working-hours>
        </li>
      </ul>

    </div>
  </div>
</div>